@import '@yu-kit/styles';

/** button */
$button-default-color: #fff !default;
$button-disabled-color: #bbb !default;
$button-disabled-bg-color: #eee !default;
$button-border-radius-default: 24px !default;
$button-border-radius-square: 4px !default;
$button-height-s: 26px !default;
$button-height-m: 36px !default;
$button-height-l: 48px !default;
$button-width-s: 30px !default;
$button-width-m: 44px !default;
$button-width-l: 54px !default;
$button-font-size-s: $font-body-s !default;
$button-font-size-m: $font-body-m !default;
$button-font-size-l: $font-header-s !default;
$button-font-size-extra: $font-caption-s !default;
$button-padding-s: 12px !default;
$button-padding-m: 16px !default;
$button-padding-l: 16px !default;
$button-type-text-padding: 4px !default;

.yu-button {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: $font-weight-medium;
  color: $button-default-color;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;

  .content-wrapper {
    overflow: hidden;

    &.submit-content-wrapper {
      display: flex;
      flex: 1;
      justify-content: center;
    }

    .yu-button-img {
      width: 16px;
      height: 16px;
      margin-right: 7px;
    }

    .loading-area {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      height: 14px;
      border: 2px solid;
      border-right-color: transparent;
      border-radius: 50%;
      animation: loader-rotate 1s linear infinite;
    }

    .loading {
      color: transparent;
      opacity: 0;
    }

    .button-text {
      overflow: hidden;
      font-weight: $font-weight-semi-bold;
      line-height: 1.2;
      text-overflow: ellipsis;
    }

    &.hidden {
      visibility: hidden;
    }
  }

  &.primary {
    background: $theme-color-primary;

    &.disabled {
      font-weight: $font-weight-bold;
      color: $button-disabled-color;
      background: $button-disabled-bg-color;
    }
  }

  &.text {
    padding: $button-type-text-padding;
    color: $theme-color-primary;
    background: transparent;

    &.disabled {
      box-sizing: border-box;
      width: unset;
      height: unset;
      padding: $button-type-text-padding;
      color: $theme-color-primary;
      background: transparent;
      opacity: 0.3;
    }

    .loading-area {
      position: unset;
      width: 12px;
      height: 12px;
      margin-right: 3px;
    }

    .content-wrapper {
      &.hidden {
        visibility: visible;
      }
    }
  }

  &.border {
    color: $font-color-dark;
    background: transparent;
    border: 1px solid $line-color;
  }

  &.small {
    height: $button-height-s;
    padding: 0 $button-padding-s;
    font-size: $button-font-size-s;

    .loading-area {
      transform: scale(0.6);
    }
  }

  &.medium {
    height: $button-height-m;
    padding: 0 $button-padding-m;
    font-size: $button-font-size-m;

    .loading-area {
      transform: scale(0.8);
    }
  }

  &.large {
    height: $button-height-l;
    padding: 0 $button-padding-l;
    font-size: $button-font-size-l;

    .extra {
      margin-top: 1px;
      font-size: $button-font-size-extra;
      line-height: 1;
    }
  }

  &.radius-default {
    border-radius: $button-border-radius-default;
  }

  &.radius-square {
    border-radius: $button-border-radius-square;
  }

  &.radius-no-radius {
    border-radius: unset;
  }

  &.click-opacity {
    &:active {
      opacity: 0.8;
    }
  }

  &::after {
    content: unset;
  }
}

@keyframes loader-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
